{% extends 'base.html' %}

{% block title %}Sign up{% endblock %}

{% block body %}

<div class="jumbotron  text-dark text-center login-top">
    <!-- Obraz u góry strony -->
    <img src="/images/achievement-3404945_1920.jpg" alt="Registration success" class="img-fluid rounded shadow-lg mb-4"
        style="max-height: 300px; object-fit: cover;">
</div>

<div class="container text-center py-4">
    <h1 class="display-4 fw-bold mb-3">Sign up successful!</h1>
    <p class="lead text-light">Success! Thank you for signing up.</p>

    <div class="lead text-light">
        <p>Please check your email to activate your account.</p>
    </div>

</div>
</div>

{% endblock %}