<div class="border border-warning bg-dark rounded shadow-lg ">
    {% if incomeDetails %}
    <div class="d-flex align-items-center p-1" style="width: 100%; column-gap: 10px;">
        <button id="toggleListIncomesDetailsBalanceBtn"
            class="btn btn-outline-secondary text-warning d-flex justify-content-between align-items-center flex-grow-1">
            <span><i class="fas fa-money-bill-wave me-1"></i> Incomes details</span>
            <span id="toggleIncomesDetailsBalanceArrow"><i class="fas fa-arrow-down text-warning"></i></span>
        </button>
    </div>
    <!-- 🔽 Sekcja z listą -->
    <div id="incomeDetailsBalanceListContainer" class="fade-section hidden d-flex align-items-center flex-column"
        style="width: 100%;">

        <!-- 🔹 Lista przychodów -->
        <ul id="incomeDetailsBalanceCategoriesList" class="list-group custom-list" style="width: 95%; margin: 0 auto;">
            {% for incomeDetail in incomeDetails %}
            <li data-income-id="{{ incomeDetail.id }}"
                class="list-group-item d-flex justify-content-between border border-warning align-items-center text-light">
                <div class="d-flex flex-column">
                    <div class="d-flex flex-row align-items-center">
                        <i class="fas fa-circle me-2 text-success"></i>
                        <span class="fw-bold">{{ incomeDetail.Category }}</span>
                    </div>

                    {% if incomeDetail.info %}
                    <div class="ms-4 text-start">
                        <small class="text-warning">
                            <i class="bi bi-journal-text me-1"></i>{{ incomeDetail.info }}
                        </small>
                    </div>
                    {% endif %}

                    <div class="ms-4">
                        <small class="text-info">
                            <i class="fas fa-calendar-alt me-1"></i>{{ incomeDetail.Data|date('l, d F Y') }}
                        </small>
                    </div>
                </div>

                <span class="d-flex flex-row">
                    <span class="d-flex align-items-center">
                        <strong class="text-light text-center mx-2">{{ incomeDetail.Amount }} PLN</strong>
                        <button
                            class="btn btn-outline-warning d-flex align-items-center justify-content-center icon-btn m-1">
                            <i class="fas fa-pencil-alt text-success open-edit-income-details-balance-modal"
                                data-id="{{ incomeDetail.id }}"
                                data-idcategory="{{ incomeDetail.income_category_assigned_to_user_id }}"
                                data-name="{{ incomeDetail.Category|escape }}" data-amount="{{ incomeDetail.Amount }}"
                                data-info="{{ incomeDetail.info }}" data-date="{{ incomeDetail.Data|date('Y-m-d') }}"
                                data-dateFirst="{{ dateFirst}}" data-dateSecond="{{ dateSecond}}"></i>

                        </button>
                        <button class=" btn btn-outline-warning d-flex align-items-center justify-content-center icon-btn
                                m-1">
                            <i class="fas fa-trash-alt text-danger open-delete-income-details-balance-modal"
                                data-id="{{ incomeDetail.id }}"
                                data-id_category_income="{{ incomeDetail.income_category_assigned_to_user_id }}"
                                data-nameCategoryIncome="{{ incomeDetail.Category|escape }}"
                                data-amount_income="{{ incomeDetail.Amount }}"
                                data-info_income="{{ incomeDetail.info }}"
                                data-date="{{ incomeDetail.Data|date('Y-m-d') }}" data-dateFirst="{{ dateFirst}}"
                                data-dateSecond="{{ dateSecond}}"></i>
                        </button>
                    </span>
                </span>
            </li>
            {% endfor %}
        </ul>


        <!-- 🔹 Suma przychodów -->
        <div class="d-flex align-items-center" style="width: 95%;">
            <div
                class="border border-warning bg-success rounded shadow-lg d-flex align-items-end justify-content-center position-relative flex-grow-1 p-1">
                SUM :<strong id="sumIncomesDetails" class="text-light m-0">{{ sumAllIncomes }} PLN</strong>
            </div>
        </div>


    </div>
    {% else %}
    {% endif %}
</div>