<div class="modal fade" id="addCategoryMethodPyamentModal" tabindex="-1"
    aria-labelledby="addCategoryMethodPyamentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-dark">
            <form id="addCategoryMForm">
                <div class="modal-header bg-dark text-warning">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                    <h5 class="modal-title" id="addCategoryMethodPyamentModalLabel">Add Category</h5>
                    <button type="button" class="btn-close bg-warning" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>

                <div class="modal-body">

                    <div class="mb-3">
                        <label for="categoryMethodPyamentName" class="form-label fw-bold text-warning">Name</label>
                        <input type="text" class="form-control form-control-sm bg-warning"
                            id="categoryMethodPyamentName" name="name" required>
                        <div class="invalid-feedback" id="categoryMethodPyamentError">Please enter a name.</div>
                    </div>

                    <div class="form-check  mb-3">
                        <input class="form-check-input bg-warning" type="checkbox" id="categoryMethodPyamentLimitActive"
                            name="is_limit_active">
                        <label class="form-check-label fw-bold text-warning"
                            for="categoryMethodPyamentLimitActive">Activate cash
                            limit</label>
                    </div>

                    <div class="mb-3">
                        <label for="categoryMethodPyamentCashLimit" class="form-label text-warning">Cash Limit
                            (optional)</label>
                        <input type="number" step="0.01" class="form-control form-control-sm bg-warning"
                            id="categoryMethodPyamentCashLimit" name="cash_limit" placeholder="Limit is blocked now"
                            disabled>


                    </div>
                </div>

                <div class="modal-footer bg-dark">
                    <button type="submit" class="btn btn-warning">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>