<div class="border border-dark rounded shadow-lg mb-3">
    <div class="d-flex align-items-center " style="width: 100%; column-gap: 10px;">
        <button id="toggleListIncomesBtn"
            class="btn btn-dark text-warning d-flex justify-content-between align-items-center flex-grow-1">
            <span><i class="fas fa-money-bill-wave me-1"></i> Income categories</span>
            <span id="toggleIncomesArrow"><i class="fas fa-arrow-down text-warning"></i></span>
        </button>
    </div>
    <!-- 🔽 Sekcja z listą -->
    <div id="incomeListContainer" class="fade-section hidden d-flex align-items-center  d-flex flex-column"
        style="width: 100%;">

        <ul id="incomeCategoriesList" class="list-group custom-list" style="width: 95%; margin: 1 auto;">
            {% for incomeCategory in incomeCategories %}
            <li class="list-group-item d-flex justify-content-between align-items-center text-dark">
                {{ incomeCategory.name }}

                <span>
                    <i class="fas fa-pencil-alt text-success me-2"></i>
                    <i class="fas fa-trash-alt text-danger delete-income-category" data-id="{{ incomeCategory.id }}"
                        data-name="{{ incomeCategory.name }}"></i>
                </span>
            </li>
            {% endfor %}
        </ul>
        <div class=" d-flex align-items-center" style="width: 95%;">
            <button id="addIncomeCategoryBtn"
                class="btn btn-dark text-warning d-flex align-items-center justify-content-center position-relative flex-grow-1"
                data-bs-toggle="modal" data-bs-target="#addIncomeCategoryModal">
                <!-- Ikona po lewej -->
                <span class="position-absolute start-0 ms-3">
                    <i class="fas fa-plus"></i>
                </span>
                <!-- Tekst na środku -->
                <span>Add category</span>
            </button>
        </div>
    </div>
</div>