{% extends "base.html" %}

{% block title %}Profile{% endblock %}
{% block extra_styles %}
<link rel="stylesheet" href="/style/custom.css">
{% endblock %}
{% block body %}
<div class="container my-5">
    {% if user.errors %}
    <div class="alert alert-danger">
        <ul>
            {% for error in user.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <div class="row justify-content-center align-items-center" style="column-gap:50px;">


        <!-- LEWA KOLUMNA Z OBRAZEM -->
        <div class="col-md-5 text-center border border-warning rounded shadow-lg p-4">
            <h1 class="mb-4 text-center p-4 text-dark">Settings</h1>
            <img src="/images/settings.jpg" alt="Profile"
                class="img-fluid border border-warning rounded shadow-lg form-image">
        </div>

        <!-- PRAWA KOLUMNA Z DANYMI UŻYTKOWNIKA -->
        <div class="col-md-5">

            <!-- 🔘 Przycisk pokazujący dane użytkownika -->
            <div class="border border-dark rounded shadow-lg mb-3">
                <div class="d-flex align-items-center" style="width: 100%; column-gap: 10px;">
                    <button id="toggleProfileBtn"
                        class="btn btn-dark text-warning d-flex justify-content-between align-items-center flex-grow-1"
                        style="width: 100%;">
                        <!-- Lewa strona -->
                        <span><i class="fas fa-user me-1"></i> User</span>
                        <!-- Prawa strona -->
                        <span id="toggleProfileArrow"><i class="fas fa-arrow-down text-warning"></i></span>
                    </button>

                </div>
                <!-- 🔽 Sekcja z profilem -->
                <div id="profileData" class="fade-section hidden" style="width: 100%;">

                    <dl class="text-dark p-2">
                        <dt>Name</dt>
                        <dd id="userName">{{ user.name|capitalize|e }}</dd>
                        <dt>Email</dt>
                        <dd id="userEmail">{{ user.email|e }}</dd>
                    </dl>
                    <div class="text-center">
                        <a href="/profile/edit">
                            <button class="btn btn-warning icon-btn">
                                <i class="fas fa-pencil-alt"></i>
                            </button>
                        </a>
                    </div>
                </div>
            </div>


            <!-- 🔘 Przycisk pokazujący listę expenses-->
            <div class="border border-dark rounded shadow-lg mb-3">
                <div class="d-flex align-items-center " style="width: 100%; column-gap: 10px;">
                    <button id="toggleListBtn"
                        class="btn btn-dark text-warning d-flex justify-content-between align-items-center flex-grow-1">
                        <span><i class="fas fa-shopping-basket me-1">
                            </i> Expense categories</span>
                        <span id="toggleArrow"><i class="fas fa-arrow-down text-warning"></i></span>
                    </button>
                </div>
                <!-- 🔽 Sekcja z listą -->
                <div id="expenseListContainer" class="fade-section hidden d-flex align-items-center  d-flex flex-column"
                    style="width: 100%;">

                    <ul id="expenseCategoriesList" class="list-group custom-list" style="width: 95%; margin: 1 auto;">
                        {% for expenseCategory in expenseCategories %}
                        <li class="list-group-item d-flex justify-content-between align-items-center text-dark">
                            <div class="d-flex flex-column">
                                <span class="fw-bold">{{ expenseCategory.name }}</span>
                                {% if expenseCategory.cash_limit %}
                                <small class="text-muted">Limited: {{ expenseCategory.cash_limit }} PLN</small>
                                {% endif %}
                            </div>

                            <span>
                                <i class="fas fa-pencil-alt text-success me-2 edit-expense-category" role="button"
                                    data-id="{{ expenseCategory.id }}" data-name="{{ expenseCategory.name }}"
                                    data-cash_limit="{{ expenseCategory.cash_limit | default('') }}"></i>


                                <i class="fas fa-trash-alt text-danger delete-expense-category"
                                    data-id="{{ expenseCategory.id }}" data-name="{{ expenseCategory.name }}"></i>
                            </span>
                        </li>
                        {% endfor %}
                    </ul>



                    <!-- 🔘 Sekcja z przyciskiem Add category -->
                    <div class="d-flex align-items-center" style="width: 95%;">
                        <button id="addExpenseCategoryBtn"
                            class="btn btn-dark text-warning d-flex align-items-center justify-content-center position-relative flex-grow-1"
                            data-bs-toggle="modal" data-bs-target="#addExpenseCategoryModal">
                            <span class="position-absolute start-0 ms-3">
                                <i class="fas fa-plus"></i>
                            </span>
                            <span>Add category</span>
                        </button>
                    </div>


                </div>
            </div>
            <!-- 🔘 Przycisk pokazujący listę incomes-->
            <div class="border border-dark rounded shadow-lg mb-3">
                <div class="d-flex align-items-center " style="width: 100%; column-gap: 10px;">
                    <button id="toggleListIncomesBtn"
                        class="btn btn-dark text-warning d-flex justify-content-between align-items-center flex-grow-1">
                        <span><i class="fas fa-money-bill-wave me-1"></i> Income categories</span>
                        <span id="toggleIncomesArrow"><i class="fas fa-arrow-down text-warning"></i></span>
                    </button>
                </div>
                <!-- 🔽 Sekcja z listą -->
                <div id="incomeListContainer" class="fade-section hidden d-flex align-items-center  d-flex flex-column"
                    style="width: 100%;">

                    <ul id="incomeCategoriesList" class="list-group custom-list " style="width: 95%; margin: 1 auto; ">
                        {% for incomeCategory in incomeCategories %}
                        <li class="list-group-item d-flex justify-content-between align-items-center text-dark">
                            {{ incomeCategory.name }}

                            <span>
                                <i class="fas fa-pencil-alt text-success me-2"></i>
                                <i class="fas fa-trash-alt text-danger"></i>
                            </span>
                        </li>

                        {% endfor %}
                    </ul>
                    <div class="d-flex align-items-center" style="width: 95%;">
                        <button id="addIncomeCategoryBtn"
                            class="btn btn-dark text-warning d-flex align-items-center justify-content-center position-relative flex-grow-1"
                            data-bs-toggle="modal" data-bs-target="#addIncomeCategoryModal">
                            <!-- Ikona po lewej -->
                            <span class="position-absolute start-0 ms-3">
                                <i class="fas fa-plus"></i>
                            </span>
                            <!-- Tekst na środku -->
                            <span>Add category</span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- 🔘 Przycisk pokazujący listę payment methods-->
            <div class="border border-dark rounded shadow-lg mb-3">
                <div class="d-flex align-items-center" style="width: 100%; column-gap: 10px;">
                    <button id="toggleListPaymentMethodBtn"
                        class="btn btn-dark text-warning d-flex justify-content-between align-items-center flex-grow-1">
                        <span><i class="fas fa-credit-card"></i> Payment method</span>
                        <span id="togglePaymentArrow"><i class="fas fa-arrow-down text-warning"></i></span>
                    </button>
                </div>

                <div id="paymentMethodListContainer" class="fade-section hidden d-flex align-items-center flex-column"
                    style="width: 100%;">

                    <ul id="paymentMethodList" class="list-group custom-list" style="width: 95%; margin: 1 auto;">
                        {% for paymentMethod in paymentMethods %}
                        <li class="list-group-item d-flex justify-content-between align-items-center text-dark">
                            {{ paymentMethod.name }}
                            <span>
                                <i class="fas fa-pencil-alt text-success me-2"></i>
                                <i class="fas fa-trash-alt text-danger"></i>
                            </span>
                        </li>
                        {% endfor %}
                    </ul>

                    <div class="d-flex align-items-center" style="width: 95%;">
                        <button
                            class="btn btn-dark text-warning d-flex align-items-center justify-content-center position-relative flex-grow-1">
                            <span class="position-absolute start-0 ms-3">
                                <i class="fas fa-plus"></i>
                            </span>
                            <span>Add payment method</span>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<script src="/js/profile.js"></script>

{% include "Profile/add_expense_category_modal.html" %}
{% include "Profile/delete_expense_category_modal.html" %}
{% include "Profile/edit_expense_category_modal.html" %}
{% include "Profile/add_income_category_modal.html" %}
{% endblock %}