{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block body %}
<div class="container my-5">
    {% if user.errors is not empty %}
    <p>Errors:</p>
    <ul>
        {% for error in user.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="row justify-content-center align-items-center g-3">

        <!-- LEWA KOLUMNA Z OBRAZEM -->
        <div class="col-md-5 text-center border border-warning rounded shadow-lg p-4">
            <img src="/images/settings.jpg" alt="Profile"
                class="img-fluid border border-warning rounded shadow-lg form-image">
        </div>

        <!-- PRAWA KOLUMNA Z DANYMI UŻYTKOWNIKA -->
        <div class="col-md-5">
            <h1 class="mb-4 text-center p-4 text-warning">Profile</h1>
            <dl class="text-white">
                <dt>Name</dt>
                <dd id="userName">{{ user.name|capitalize|e }}</dd>
                <dt>Email</dt>
                <dd id="userEmail">{{ user.email|e }}</dd>
            </dl>
            <div class="text-center mt-4">
                <a href="/profile/edit"> <button class="btn btn-warning">Edit
                        profile</button></a>
            </div>
        </div>
    </div>
</div>



{% endblock %}